/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}



body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

@font-face {
    font-family: GesitPixel-Regular;
    src: url('./Fonts/Geistpixel-Regular.woff2');
}






body{
color:white;
width:100%;
background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh;
    column-gap:10px;
}

.header{
    width: 250px;
    align-self: center;

    padding-bottom: rem;
    padding-top:rem;
    margin-top: 1rem;
    text-align: center;
    border-radius: 10px;
}
html{
  font-family: GesitPixel-Regular;
  font-size: 1.3rem;
}
.main{

    align-self: center;
    display:flex;
    justify-content: space-around;
}

.footer{
    padding-bottom: 1rem;
}
.gameboard {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    color:black;

}
.status{

}
.field{

    background-color:yellow;
    color: rgb(7, 7, 137);
    border: 1px solid    rgba(11, 11, 122, 0.407);
    text-align: center;
    font-size: 4rem;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 3px;
    max-height: 8rem;
    min-height: 7rem;
    max-width:  8rem;
    min-width: 7rem;
}

.field:hover{
    background-color: rgb(237, 230, 8);
}


.imgs{
  width:75px;
  height:75px;
  object-fit:fits;
}

.image-container{
  display:flex;
  align-items: center;
  justify-content: center;
  min-width: 21rem;
  max-width: 24rem;
}
#message{
  
  align-self:left;
  padding-top: 0.4rem;
  padding-right: 1rem;
  font-size: 1rem;
  
  color:yellow;
}
.restart{

    all: unset;
    text-orientation: upright;
    text-decoration: none;
    background-color: red;
    color:white;
    align-self: center;
    padding:1rem;
    font-size:1.4rem


}

.restart:hover{
    background-color: rgb(243, 240, 237);
    color: red;
    padding:1rem;
    font-size: 1.4rem;

}

.statcontrol{
  align-self: center;
  text-align: center;
  
}

.footer{

    background-color:black;
    font-size: 0.7rem;
    
    

}

.gameover {
  background-color: rgb(65, 235, 91);
    color: rgb(10, 65, 26);
    border: 1px solid    rgba(11, 11, 122, 0.407);
    text-align: center;
    font-size: 4rem;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 3px;
     max-height: 8rem;
    min-height: 7rem;
    max-width:  8rem;
    min-width: 7rem;
}